In [2]:
import numpy as np
import pandas as pd

In [312]:
game_cities = pd.read_csv('Data/Stage2DataFiles/GameCities.csv')

In [30]:
cities = pd.read_csv('Data/Stage2DataFiles/cities.csv')

In [31]:
cities.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

In [32]:
CitiesEnriched = pd.read_csv('Data/CitiesEnriched.csv')

In [33]:
CitiesEnriched.head()

,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
0,4001,Abilene,TX,32.448736,-99.733144,520.911560,Central Daylight Time,-5.0
1,4002,Akron,OH,41.081445,-81.519005,292.694763,Eastern Daylight Time,-4.0
2,4003,Albany,NY,42.652579,-73.756232,42.680080,Eastern Daylight Time,-4.0
3,4004,Albuquerque,NM,35.085334,-106.605553,1583.187500,Mountain Daylight Time,-6.0
4,4005,Allentown,PA,40.608430,-75.490183,104.915565,Eastern Daylight Time,-4.0

In [34]:
game_cities.head()

   Season  DayNum  WTeamID  LTeamID   CRType  CityID
0    2010       7     1143     1293  Regular    4027
1    2010       7     1314     1198  Regular    4061
2    2010       7     1326     1108  Regular    4080
3    2010       7     1393     1107  Regular    4340
4    2010       9     1143     1178  Regular    4027

In [35]:
game_cities['CRType'].value_counts()

Regular      53430
Secondary      668
NCAA           600
Name: CRType, dtype: int64

In [36]:
NCAA_t_games = game_cities[game_cities['CRType'] == 'NCAA']

In [37]:
NCAA_t_games.head()

      Season  DayNum  WTeamID  LTeamID CRType  CityID
5263    2010     134     1115     1457   NCAA    4091
5295    2010     136     1124     1358   NCAA    4237
5296    2010     136     1139     1431   NCAA    4305
5297    2010     136     1140     1196   NCAA    4254
5298    2010     136     1242     1250   NCAA    4254

In [38]:
NCAA_2010 = NCAA_t_games[NCAA_t_games['Season'] == 2010]

In [39]:
NCAA_2010['CityID'].value_counts()

4281    6
4215    6
4324    6
4254    6
4305    6
4237    6
4168    6
4049    6
4301    3
4157    3
4340    3
4329    3
4161    3
4091    1
Name: CityID, dtype: int64

In [40]:
len(game_cities)

54698

In [41]:
len(cities)

427

In [42]:
game_cities = pd.merge(game_cities, CitiesEnriched, on = ['CityID'], how = 'left')

In [43]:
game_cities.tail()

,Season,DayNum,WTeamID,LTeamID,CRType,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
54693,2019,132,1153,1222,Regular,4213,Memphis,TN,35.149534,-90.048980,79.196014,Central Daylight Time,-5.0
54694,2019,132,1209,1426,Regular,4237,New Orleans,LA,29.951066,-90.071532,0.521789,Central Daylight Time,-5.0
54695,2019,132,1277,1276,Regular,4071,Chicago,IL,41.878114,-87.629798,181.514374,Central Daylight Time,-5.0
54696,2019,132,1387,1382,Regular,4047,Brooklyn,NY,40.678178,-73.944158,18.053314,Eastern Daylight Time,-4.0
54697,2019,132,1463,1217,Regular,4236,New Haven,CT,41.308274,-72.927883,12.357306,Eastern Daylight Time,-4.0

In [44]:
cities[cities['CityID'] == 4039]

    CityID    City State
38    4039  Boston    MA

In [45]:
game_cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54698 entries, 0 to 54697
Data columns (total 13 columns):
Season             54698 non-null int64
DayNum             54698 non-null int64
WTeamID            54698 non-null int64
LTeamID            54698 non-null int64
CRType             54698 non-null object
CityID             54698 non-null int64
City               54533 non-null object
State              54533 non-null object
Lat                54533 non-null float64
Lng                54533 non-null float64
ElevationMeters    54533 non-null float64
TimezoneName       54533 non-null object
UTCOffsetHours     54533 non-null float64
dtypes: float64(4), int64(5), object(4)
memory usage: 5.8+ MB

In [46]:
nulls = game_cities[game_cities['City'].isnull() == True]

In [47]:
CitiesEnriched.head(10)

,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
0,4001,Abilene,TX,32.448736,-99.733144,520.911560,Central Daylight Time,-5.0
1,4002,Akron,OH,41.081445,-81.519005,292.694763,Eastern Daylight Time,-4.0
2,4003,Albany,NY,42.652579,-73.756232,42.680080,Eastern Daylight Time,-4.0
3,4004,Albuquerque,NM,35.085334,-106.605553,1583.187500,Mountain Daylight Time,-6.0
4,4005,Allentown,PA,40.608430,-75.490183,104.915565,Eastern Daylight Time,-4.0
5,4006,Ames,IA,42.030781,-93.631913,274.255066,Central Daylight Time,-5.0
6,4007,Amherst,MA,42.373222,-72.519854,95.784149,Eastern Daylight Time,-4.0
7,4008,Anaheim,CA,33.836593,-117.914301,47.608597,Pacific Daylight Time,-7.0
8,4009,Anchorage,AK,61.218056,-149.900278,33.196411,Alaska Daylight Time,-8.0
9,4010,Ann Arbor,MI,42.280826,-83.743038,263.492828,Eastern Daylight Time,-4.0

In [48]:
nulls['CityID'].unique()

array([4409, 4407, 4413, 4412, 4415, 4408, 4410, 4416, 4406, 4417, 4414,
       4422, 4446, 4447, 4441, 4448, 4444, 4435, 4449, 4445])

In [49]:
cities[cities['CityID'] == 4445]

     CityID        City State
422    4445  Georgetown    KY

In [50]:
new_city_list = []
new_city = {'CityID' : 4409, 'City' : 'Uniondale', 'State' : 'NY', 'Lat' : 40.7004, 'Lng' : -73.5929, 
            'ElevationMeters' : 16, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [51]:
new_city = {'CityID' : 4407, 'City' : 'Great Falls', 'State' : 'MT', 'Lat' : 47.5053, 'Lng' : -111.3008, 
            'ElevationMeters' : 1010, 'TimezoneName' : 'Mountain Daylight Time', 'UTCOffsetHours' : -5.0}
new_city_list.append(new_city)

In [52]:
new_city = {'CityID' : 4413, 'City' : 'Nassau', 'State' : 'BA', 'Lat' : 25.0479835, 'Lng' : -77.355413, 
            'ElevationMeters' : 6, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [53]:
new_city = {'CityID' : 4412, 'City' : 'Montego Bay', 'State' : 'JA', 'Lat' : 18.4762, 'Lng' : -77.8939, 
            'ElevationMeters' : 12, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [54]:
new_city = {'CityID' : 4415, 'City' : 'Grand Cayman', 'State' : 'CI', 'Lat' : 19.3222, 'Lng' : -81.2409, 
            'ElevationMeters' : 18, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [55]:
new_city = {'CityID' : 4408, 'City' : 'Reading', 'State' : 'PA', 'Lat' : 40.3356, 'Lng' : -75.9269, 
            'ElevationMeters' : 93, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [56]:
new_city = {'CityID' : 4410, 'City' : 'Belfast', 'State' : 'IR', 'Lat' : 54.5973, 'Lng' : -5.9301, 
            'ElevationMeters' : 80, 'TimezoneName' : 'British Summer Time', 'UTCOffsetHours' : 1.0}
new_city_list.append(new_city)

In [57]:
new_city = {'CityID' : 4416, 'City' : 'Miami Shores', 'State' : 'FL', 'Lat' : 25.8632, 'Lng' : -80.1928, 
            'ElevationMeters' : 2, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [58]:
new_city = {'CityID' : 4406, 'City' : 'Garden City', 'State' : 'NY', 'Lat' : 40.7268, 'Lng' : -73.6343, 
            'ElevationMeters' : 27, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [59]:
new_city = {'CityID' : 4417, 'City' : 'Midland', 'State' : 'MI', 'Lat' : 43.6156, 'Lng' : -84.2472, 
            'ElevationMeters' : 194, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [60]:
new_city = {'CityID' : 4414, 'City' : 'Frisco', 'State' : 'TX', 'Lat' : 33.1507, 'Lng' : -96.8236, 
            'ElevationMeters' : 236, 'TimezoneName' : 'Central Daylight Time', 'UTCOffsetHours' : -5.0}
new_city_list.append(new_city)

In [61]:
new_city = {'CityID' : 4422, 'City' : 'Bimini', 'State' : 'BA', 'Lat' : 25.7333, 'Lng' : -79.2500, 
            'ElevationMeters' : 8, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [62]:
new_city = {'CityID' : 4446, 'City' : 'Seaside', 'State' : 'CA', 'Lat' : 36.6149, 'Lng' : -121.8221, 
            'ElevationMeters' : 10, 'TimezoneName' : 'Pacific Daylight Time', 'UTCOffsetHours' : -7.0}
new_city_list.append(new_city)

In [63]:
new_city = {'CityID' : 4447, 'City' : 'Kissimmee', 'State' : 'FL', 'Lat' : 28.2920, 'Lng' : -81.4076, 
            'ElevationMeters' : 15, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [64]:
new_city = {'CityID' : 4441, 'City' : 'Niagara University', 'State' : 'NY', 'Lat' : 43.1726, 'Lng' : -79.0359, 
            'ElevationMeters' : 116, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [65]:
new_city = {'CityID' : 4448, 'City' : 'Oakland', 'State' : 'MI', 'Lat' : 42.5922, 'Lng' : -83.3362, 
            'ElevationMeters' : 286, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [66]:
new_city = {'CityID' : 4444, 'City' : 'Florence', 'State' : 'AL', 'Lat' : 34.7998, 'Lng' : -87.6773, 
            'ElevationMeters' : 167, 'TimezoneName' : 'Central Daylight Time', 'UTCOffsetHours' : -5.0}
new_city_list.append(new_city)

In [67]:
new_city = {'CityID' : 4435, 'City' : 'Kennewick', 'State' : 'WA', 'Lat' : 46.2087, 'Lng' : -119.1199, 
            'ElevationMeters' : 124, 'TimezoneName' : 'Pacific Daylight Time', 'UTCOffsetHours' : -7.0}
new_city_list.append(new_city)

In [68]:
new_city = {'CityID' : 4449, 'City' : 'St. Petersburg', 'State' : 'FL', 'Lat' : 27.7676, 'Lng' : -82.6403, 
            'ElevationMeters' : 13, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [69]:
new_city = {'CityID' : 4445, 'City' : 'Georgetown', 'State' : 'KY', 'Lat' : 38.2098, 'Lng' : -84.5588, 
            'ElevationMeters' : 258, 'TimezoneName' : 'Eastern Daylight Time', 'UTCOffsetHours' : -4.0}
new_city_list.append(new_city)

In [70]:
new_city_list = pd.DataFrame(new_city_list)

In [71]:
CitiesEnriched = pd.concat([CitiesEnriched, new_city_list])

In [72]:
CitiesEnriched = CitiesEnriched.reset_index(drop = True)

In [773]:
CitiesEnriched_Updated = CitiesEnriched

In [4]:
# CitiesEnriched_Updated.to_csv('Data/CitiesEnriched_Updated.csv')

In [74]:
game_cities = pd.read_csv('Data/Stage2DataFiles/GameCities.csv')

In [75]:
game_cities = pd.merge(game_cities, CitiesEnriched, on = ['CityID'], how = 'left')

In [76]:
game_cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54698 entries, 0 to 54697
Data columns (total 13 columns):
Season             54698 non-null int64
DayNum             54698 non-null int64
WTeamID            54698 non-null int64
LTeamID            54698 non-null int64
CRType             54698 non-null object
CityID             54698 non-null int64
City               54698 non-null object
State              54698 non-null object
Lat                54698 non-null float64
Lng                54698 non-null float64
ElevationMeters    54698 non-null float64
TimezoneName       54698 non-null object
UTCOffsetHours     54698 non-null float64
dtypes: float64(4), int64(5), object(4)
memory usage: 5.8+ MB

In [59]:
spellings = pd.read_csv('Data/Stage2DataFiles/TeamSpellings.csv', sep='\t', engine='python')
# spellings = pd.read_csv('Data/Stage2DataFiles/TeamSpellings.csv')

In [121]:
TeamGeog = pd.read_csv('Data/TeamGeog.csv')

In [122]:
TeamGeog

     team_id        lat         lng
0       1101  32.471081  -99.707941
1       1102  38.833882 -104.821363
2       1103  41.081445  -81.519005
3       1104  33.209841  -87.569174
4       1105  34.788979  -86.571937
..       ...        ...         ...
359     1460  39.820893  -84.019379
360     1461  41.311367 -105.591101
361     1462  39.149648  -84.473702
362     1463  41.308153  -72.928158
363     1464  41.099780  -80.649519

[364 rows x 3 columns]

In [397]:
teams = pd.read_csv('Data/Stage2DataFiles/Teams.csv')

In [81]:
teams.sort_values(by = 'FirstD1Season')

     TeamID        TeamName  FirstD1Season  LastD1Season
182    1283     Missouri St           1985          2019
230    1331    Oral Roberts           1985          2019
229    1330    Old Dominion           1985          2019
228    1329     Oklahoma St           1985          2019
227    1328        Oklahoma           1985          2019
..      ...             ...            ...           ...
161    1262       MA Lowell           2014          2019
129    1230  Incarnate Word           2014          2019
112    1213    Grand Canyon           2014          2019
364    1465     Cal Baptist           2019          2019
365    1466   North Alabama           2019          2019

[366 rows x 4 columns]

In [83]:
Team1 = teams.copy()
Team2 = teams.copy()
Team1.columns = ['WTeamID', 'T1_TeamName', 'T1_FirstD1Season', 'T1_LastD1Season']
Team2.columns = ['LTeamID', 'T2_TeamName', 'T2_FirstD1Season', 'T2_LastD1Season']

In [84]:
NCAA_t_games.head()

      Season  DayNum  WTeamID  LTeamID CRType  CityID
5263    2010     134     1115     1457   NCAA    4091
5295    2010     136     1124     1358   NCAA    4237
5296    2010     136     1139     1431   NCAA    4305
5297    2010     136     1140     1196   NCAA    4254
5298    2010     136     1242     1250   NCAA    4254

In [85]:
NCAA_t_games = pd.merge(NCAA_t_games, Team1, on = ['WTeamID'], how = 'left')
NCAA_t_games = pd.merge(NCAA_t_games, Team2, on = ['LTeamID'], how = 'left')

In [90]:
NCAA_t_games = NCAA_t_games[['Season', 'DayNum', 'WTeamID', 'T1_TeamName','LTeamID', 'T2_TeamName', 
                             'CityID']]

In [91]:
NCAA_t_games.head()

   Season  DayNum  WTeamID     T1_TeamName  LTeamID     T2_TeamName  CityID
0    2010     134     1115  Ark Pine Bluff     1457        Winthrop    4091
1    2010     136     1124          Baylor     1358  Sam Houston St    4237
2    2010     136     1139          Butler     1431            UTEP    4305
3    2010     136     1140             BYU     1196         Florida    4254
4    2010     136     1242          Kansas     1250          Lehigh    4254

In [123]:
new_teams = [{'team_id': 1465, 'lat': 33.9284, 'lng': -117.4256}, {'team_id': 1466, 'lat': 34.8075, 'lng': -87.6812}]

In [124]:
new_teams = pd.DataFrame(new_teams)

In [125]:
update = pd.concat([TeamGeog, new_teams])

In [126]:
update = update.reset_index(drop = True)

In [127]:
update.tail()

     team_id        lat         lng
361     1462  39.149648  -84.473702
362     1463  41.308153  -72.928158
363     1464  41.099780  -80.649519
364     1465  33.928400 -117.425600
365     1466  34.807500  -87.681200

In [55]:
game_cities.head()

,Season,DayNum,WTeamID,LTeamID,CRType,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
0,2010,7,1143,1293,Regular,4027,Berkeley,CA,37.871593,-122.272747,51.614422,Pacific Daylight Time,-7.0
1,2010,7,1314,1198,Regular,4061,Chapel Hill,NC,35.913200,-79.055844,148.552246,Eastern Daylight Time,-4.0
2,2010,7,1326,1108,Regular,4080,Columbus,OH,39.961176,-82.998794,237.629166,Eastern Daylight Time,-4.0
3,2010,7,1393,1107,Regular,4340,Syracuse,NY,43.048122,-76.147424,121.362137,Eastern Daylight Time,-4.0
4,2010,9,1143,1178,Regular,4027,Berkeley,CA,37.871593,-122.272747,51.614422,Pacific Daylight Time,-7.0

In [56]:
game_cities.shape

(54698, 13)

In [92]:
tourney_comp = pd.read_csv('Data/Stage2DataFiles/NCAATourneyCompactResults.csv')

In [95]:
tourney_comp = tourney_comp[tourney_comp['Season'] >= 2003]

In [96]:
tourney_comp.head()

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
1136    2003     134     1421      92     1411      84    N      1
1137    2003     136     1112      80     1436      51    N      0
1138    2003     136     1113      84     1272      71    N      0
1139    2003     136     1141      79     1166      73    N      0
1140    2003     136     1143      76     1301      74    N      1

In [62]:
tourney_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2184 entries, 0 to 2183
Data columns (total 8 columns):
Season     2184 non-null int64
DayNum     2184 non-null int64
WTeamID    2184 non-null int64
WScore     2184 non-null int64
LTeamID    2184 non-null int64
LScore     2184 non-null int64
WLoc       2184 non-null object
NumOT      2184 non-null int64
dtypes: int64(7), object(1)
memory usage: 136.6+ KB

In [63]:
tourney_comp = pd.merge(tourney_comp, game_cities, on = ['Season', 'DayNum', 'WTeamID', 'LTeamID'], how = 'left')

In [64]:
tourney_comp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2184 entries, 0 to 2183
Data columns (total 17 columns):
Season             2184 non-null int64
DayNum             2184 non-null int64
WTeamID            2184 non-null int64
WScore             2184 non-null int64
LTeamID            2184 non-null int64
LScore             2184 non-null int64
WLoc               2184 non-null object
NumOT              2184 non-null int64
CRType             600 non-null object
CityID             600 non-null float64
City               600 non-null object
State              600 non-null object
Lat                600 non-null float64
Lng                600 non-null float64
ElevationMeters    600 non-null float64
TimezoneName       600 non-null object
UTCOffsetHours     600 non-null float64
dtypes: float64(5), int64(7), object(5)
memory usage: 307.1+ KB

In [74]:
# tourney_comp[tourney_comp.isna().any(axis=1)]
tourney_comp = tourney_comp.dropna()
tourney_comp = tourney_comp.reset_index(drop = True)
tourney_comp.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,CRType,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
1584,2010,134,1115,61,1457,44,N,0,NCAA,4091.0,Dayton,OH,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0
1585,2010,136,1124,68,1358,59,N,0,NCAA,4237.0,New Orleans,LA,29.951066,-90.071532,0.521789,Central Daylight Time,-5.0
1586,2010,136,1139,77,1431,59,N,0,NCAA,4305.0,San Jose,CA,37.338208,-121.886329,24.555334,Pacific Daylight Time,-7.0
1587,2010,136,1140,99,1196,92,N,2,NCAA,4254.0,Oklahoma City,OK,35.467560,-97.516428,366.043427,Central Daylight Time,-5.0
1588,2010,136,1242,90,1250,74,N,0,NCAA,4254.0,Oklahoma City,OK,35.467560,-97.516428,366.043427,Central Daylight Time,-5.0

In [75]:
tourney_comp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 1584 to 2183
Data columns (total 17 columns):
Season             600 non-null int64
DayNum             600 non-null int64
WTeamID            600 non-null int64
WScore             600 non-null int64
LTeamID            600 non-null int64
LScore             600 non-null int64
WLoc               600 non-null object
NumOT              600 non-null int64
CRType             600 non-null object
CityID             600 non-null float64
City               600 non-null object
State              600 non-null object
Lat                600 non-null float64
Lng                600 non-null float64
ElevationMeters    600 non-null float64
TimezoneName       600 non-null object
UTCOffsetHours     600 non-null float64
dtypes: float64(5), int64(7), object(5)
memory usage: 84.4+ KB

In [78]:
tourney_comp['WLoc'].value_counts()

N    600
Name: WLoc, dtype: int64

In [187]:
# !pip install LatLon

In [189]:
# !pip install pyproj

In [193]:
# !pip install geopy

In [194]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic

In [184]:
CitiesEnriched.head()

,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
0,4001,Abilene,TX,32.448736,-99.733144,520.911560,Central Daylight Time,-5.0
1,4002,Akron,OH,41.081445,-81.519005,292.694763,Eastern Daylight Time,-4.0
2,4003,Albany,NY,42.652579,-73.756232,42.680080,Eastern Daylight Time,-4.0
3,4004,Albuquerque,NM,35.085334,-106.605553,1583.187500,Mountain Daylight Time,-6.0
4,4005,Allentown,PA,40.608430,-75.490183,104.915565,Eastern Daylight Time,-4.0

In [207]:
Houston_df = CitiesEnriched[CitiesEnriched['City'] == 'Houston']
Houston_lat = list(Houston_df['Lat'])[0]
Houston_lng = list(Houston_df['Lng'])[0]
Houston = (Houston_lat, Houston_lng)
Houston

(29.7604267, -95.36980279999999)

In [208]:
NewOrleans_df = CitiesEnriched[CitiesEnriched['City'] == 'New Orleans']
NewOrleans_lat = list(NewOrleans_df['Lat'])[0]
NewOrleans_lng = list(NewOrleans_df['Lng'])[0]
NewOrleans = (NewOrleans_lat, NewOrleans_lng)
NewOrleans

(29.95106579999999, -90.0715323)

In [209]:
print(geodesic(Houston, NewOrleans).miles)

318.35235525617964

In [210]:
CollegeStation_df = CitiesEnriched[CitiesEnriched['City'] == 'College Station']
CollegeStation_lat = list(CollegeStation_df['Lat'])[0]
CollegeStation_lng = list(CollegeStation_df['Lng'])[0]
CollegeStation = (CollegeStation_lat, CollegeStation_lng)
CollegeStation

(30.627977, -96.3344068)

In [211]:
print(geodesic(Houston, CollegeStation).miles)

83.08099966574014

In [212]:
CitiesEnriched[CitiesEnriched['City'] == 'Teaneck']

,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
397,4398,Teaneck,NJ,40.893247,-74.011654,37.898514,Eastern Daylight Time,-4.0

In [134]:
seeds = pd.read_csv('Data/Stage2DataFiles/NCAATourneySeeds.csv')

In [135]:
seeds.tail()

      Season Seed  TeamID
2281    2019  Z12    1332
2282    2019  Z13    1414
2283    2019  Z14    1330
2284    2019  Z15    1159
2285    2019  Z16    1205

In [136]:
slots = pd.read_csv('Data/Stage2DataFiles/NCAATourneySlots.csv')

In [137]:
slots_1 = slots.copy()
slots_2 = slots.copy()
slots_1 = slots_1[['Season', 'Slot', 'StrongSeed']]
slots_2 = slots_2[['Season', 'Slot', 'WeakSeed']]

In [138]:
slots_1.columns = ['Season', 'Slot', 'Seed']
slots_2.columns = ['Season', 'Slot', 'Seed']

In [139]:
slots_1.head()

   Season  Slot Seed
0    1985  R1W1  W01
1    1985  R1W2  W02
2    1985  R1W3  W03
3    1985  R1W4  W04
4    1985  R1W5  W05

In [140]:
slots_2.head()

   Season  Slot Seed
0    1985  R1W1  W16
1    1985  R1W2  W15
2    1985  R1W3  W14
3    1985  R1W4  W13
4    1985  R1W5  W12

In [141]:
slots = pd.concat([slots_1, slots_2])

In [142]:
slots = slots.reset_index(drop = True)

In [143]:
slots = pd.merge(slots, seeds, on = ['Season', 'Seed'], how = 'left')

In [145]:
slots = slots.dropna()

In [148]:
slots = slots[slots['Season'] >= 2003]

In [155]:
slots.shape

(1132, 4)

In [159]:
slots[slots['Slot'] == 'R1W3']

      Season  Slot Seed  TeamID
1138    2003  R1W3  W03  1393.0
1202    2004  R1W3  W03  1400.0
1266    2005  R1W3  W03  1211.0
1330    2006  R1W3  W03  1234.0
1394    2007  R1W3  W03  1450.0
1458    2008  R1W3  W03  1257.0
1522    2009  R1W3  W03  1437.0
1586    2010  R1W3  W03  1307.0
1650    2011  R1W3  W03  1393.0
1717    2012  R1W3  W03  1199.0
1784    2013  R1W3  W03  1266.0
1851    2014  R1W3  W03  1235.0
1922    2015  R1W3  W03  1328.0
1989    2016  R1W3  W03  1452.0
2056    2017  R1W3  W03  1124.0
2123    2018  R1W3  W03  1403.0
2190    2019  R1W3  W03  1261.0
3389    2003  R1W3  W14  1264.0
3453    2004  R1W3  W14  1343.0
3517    2005  R1W3  W14  1457.0
3581    2006  R1W3  W14  1322.0
3645    2007  R1W3  W14  1331.0
3709    2008  R1W3  W14  1129.0
3773    2009  R1W3  W14  1110.0
3837    2010  R1W3  W14  1285.0
3901    2011  R1W3  W14  1232.0
3968    2012  R1W3  W14  1382.0
4035    2013  R1W3  W14  1172.0
4102    2014  R1W3  W14  1300.0
4173    2015  R1W3  W14  1107.0
4240    2016  R1W3  W14  1372.0
4307    2017  R1W3  W14  1308.0
4374    2018  R1W3  W14  1372.0
4441    2019  R1W3  W14  1463.0

In [161]:
tourney_comp.head()

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
1136    2003     134     1421      92     1411      84    N      1
1137    2003     136     1112      80     1436      51    N      0
1138    2003     136     1113      84     1272      71    N      0
1139    2003     136     1141      79     1166      73    N      0
1140    2003     136     1143      76     1301      74    N      1

In [164]:
num_games = list(range(len(tourney_comp)))

In [ ]:
for game in num_games:
    team_1 = (list(tourney_comp['WTeamID']))[0]
    team_2 = (list(tourney_comp['LTeamID']))[0]
    if

In [167]:
(list(tourney_comp['WTeamID']))[0]

1421

### Web Scraping

In [819]:
# import re
# import os
# import time
# import random
# import requests
# import numpy as np
# import pandas as pd
# from os import system
# from math import floor
# from copy import deepcopy
# from bs4 import BeautifulSoup
# from selenium import webdriver
# from selenium.webdriver.common.by import By
# from selenium.webdriver.common.keys import Keys
# from selenium.common.exceptions import TimeoutException
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.support import expected_conditions as EC

# from selenium.webdriver.support.ui import Select

# from selenium import webdriver

In [820]:
# url = "https://www.sports-reference.com/cbb/postseason/2019-ncaa.html"
# driver = webdriver.Chrome(executable_path=r'/Users/timothyphugele/Downloads/chromedriver')
# driver.get(url)

In [821]:
# games = []
# time.sleep(1)
# y = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[2]/h1[1]/span[1]').text

# x_index = list(range(1,7))

# for x in x_index:
#     index = list(range(1, 9))
#     time.sleep(2)
    
#     y = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[2]/h1[1]/span[1]').text
    
#     t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/p[1]/a[1]').text
#     # t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/p[1]/strong[4]/a[1]').text
#     t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/p[1]/a[1]').text
#     loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/p[1]/span[1]').text
#     city = loc[0].strip('at ')
#     state = loc[1]
#     game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#     games.append(game)
    
#     for i in index:
        
#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[1]/div[{}]/div[1]/a[1]'.format(i)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[1]/div[{}]/div[2]/a[1]'.format(i)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[1]/div[{}]/span[1]'.format(i)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)
    
#     index_2 = list(range(1,5))
#     for i2 in index_2:
        
#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[2]/div[{}]/div[1]/a[1]'.format(i2)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[2]/div[{}]/div[2]/a[1]'.format(i2)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[2]/div[{}]/span[1]'.format(i2)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)
    
#     index_3 = list(range(1,3))
#     for i3 in index_3:

#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[3]/div[{}]/div[1]/a[1]'.format(i3)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[3]/div[{}]/div[2]/a[1]'.format(i3)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[3]/div[{}]/span[1]'.format(i3)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)
    
#     t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[4]/div[1]/div[1]/a[1]').text
#     t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[4]/div[1]/div[2]/a[1]').text
#     loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[1]/div[1]/div[4]/div[1]/span[1]').text.split(',')
#     city = loc[0].strip('at ')
#     state = loc[1]
#     game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#     games.append(game)

#     driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[3]/div[2]/a').click()

#     index = list(range(1, 9))
#     for i in index:
        
#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[1]/div[{}]/div[1]/a[1]'.format(i)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[1]/div[{}]/div[2]/a[1]'.format(i)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[1]/div[{}]/span[1]'.format(i)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)
    
#     index_2 = list(range(1,5))
#     for i2 in index_2:

#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[2]/div[{}]/div[1]/a[1]'.format(i2)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[2]/div[{}]/div[2]/a[1]'.format(i2)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[2]/div[{}]/span[1]'.format(i2)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)
    
#     index_3 = list(range(1,3))
#     for i3 in index_3:

#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[3]/div[{}]/div[1]/a[1]'.format(i3)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[3]/div[{}]/div[2]/a[1]'.format(i3)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[3]/div[{}]/span[1]'.format(i3)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)

#     t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[4]/div[1]/div[1]/a[1]').text
#     t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[4]/div[1]/div[2]/a[1]').text
#     loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[2]/div[1]/div[4]/div[1]/span[1]').text.split(',')
#     city = loc[0].strip('at ')
#     state = loc[1]
#     game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#     games.append(game)

#     driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[3]/div[3]/a').click()

#     index = list(range(1, 9))
#     for i in index:

#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[1]/div[{}]/div[1]/a[1]'.format(i)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[1]/div[{}]/div[2]/a[1]'.format(i)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[1]/div[{}]/span[1]'.format(i)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)
    
#     index_2 = list(range(1,5))
#     for i2 in index_2:

#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[2]/div[{}]/div[1]/a[1]'.format(i2)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[2]/div[{}]/div[2]/a[1]'.format(i2)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[2]/div[{}]/span[1]'.format(i2)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)
    
#     index_3 = list(range(1,3))
#     for i3 in index_3:

#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[3]/div[{}]/div[1]/a[1]'.format(i3)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[3]/div[{}]/div[2]/a[1]'.format(i3)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[3]/div[{}]/span[1]'.format(i3)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)

#     t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[4]/div[1]/div[1]/a[1]').text
#     t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[4]/div[1]/div[2]/a[1]').text
#     loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[3]/div[1]/div[4]/div[1]/span[1]').text.split(',')
#     city = loc[0].strip('at ')
#     state = loc[1]
#     game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#     games.append(game)

#     driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[3]/div[4]/a').click()

#     index = list(range(1, 9))
#     for i in index:

#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[1]/div[{}]/div[1]/a[1]'.format(i)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[1]/div[{}]/div[2]/a[1]'.format(i)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[1]/div[{}]/span[1]'.format(i)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)
    
#     index_2 = list(range(1,5))
#     for i2 in index_2:
        
#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[2]/div[{}]/div[1]/a[1]'.format(i2)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[2]/div[{}]/div[2]/a[1]'.format(i2)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[2]/div[{}]/span[1]'.format(i2)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)
    
#     index_3 = list(range(1,3))
#     for i3 in index_3:

#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[3]/div[{}]/div[1]/a[1]'.format(i3)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[3]/div[{}]/div[2]/a[1]'.format(i3)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[3]/div[{}]/span[1]'.format(i3)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)

#     t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[4]/div[1]/div[1]/a[1]').text
#     t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[4]/div[1]/div[2]/a[1]').text
#     loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[4]/div[1]/div[4]/div[1]/span[1]').text.split(',')
#     city = loc[0].strip('at ')
#     state = loc[1]
#     game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#     games.append(game)

#     driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[3]/div[5]/a').click()

#     index = list(range(1, 3))
#     for i in index:

#         t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[5]/div[1]/div[1]/div[{}]/div[1]/a[1]'.format(i)).text
#         t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[5]/div[1]/div[1]/div[{}]/div[2]/a[1]'.format(i)).text
#         loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[5]/div[1]/div[1]/div[{}]/span[1]'.format(i)).text.split(',')
#         city = loc[0].strip('at ')
#         state = loc[1]
#         game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#         games.append(game)

#     t1 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[5]/div[1]/div[2]/div[1]/div[1]/a[1]').text
#     t2 = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[5]/div[1]/div[2]/div[1]/div[2]/a[1]').text
#     loc = driver.find_element_by_xpath('/html/body/div[2]/div[5]/div[4]/div[5]/div[1]/div[2]/div[1]/span[1]').text.split(',')
#     city = loc[0].strip('at ')
#     state = loc[1]
#     game = {'Season' : y, 'T1_TeamName' : t1, 'T2_TeamName' : t2, 'City' : city, 'State' : state}
#     games.append(game)

#     driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[2]/div[1]/a[3]').click()

# driver.quit()

In [822]:
# len(games)

In [823]:
# games_part1 = games

In [824]:
# games_part1.append(games) # 2003, 2004, 2005, 2006, 2007

In [825]:
# len(games_part1)

In [826]:
# games_df = pd.DataFrame(games_part1)

In [827]:
# games_2003_2004 = games_df

In [828]:
# games_2005_2006 = games_df

In [829]:
# games_2007_2012 = games_df

In [830]:
# games_2013 = games_df

In [831]:
# games_2014 = games_df

In [832]:
# games_2015 = games_df

In [833]:
# games_2016_2017 = games_df

In [834]:
# games_2018 = games_df

In [835]:
# games_2019 = games_df

In [836]:
# games_2003 = games_2003_2004[games_2003_2004['Season'] == '2003']

In [837]:
# games_2004 = games_2003_2004[games_2003_2004['Season'] == '2004']

In [838]:
# games_2005 = games_2005_2006[games_2005_2006['Season'] == '2005']

In [839]:
# games_2006 = games_2005_2006[games_2005_2006['Season'] == '2006']

In [840]:
# games_2007 = games_2007_2012[games_2007_2012['Season'] == '2007']

In [841]:
# games_2008 = games_2007_2012[games_2007_2012['Season'] == '2008']

In [842]:
# games_2009 = games_2007_2012[games_2007_2012['Season'] == '2009']

In [843]:
# games_2010 = games_2007_2012[games_2007_2012['Season'] == '2010']

In [844]:
# games_2011 = games_2007_2012[games_2007_2012['Season'] == '2011']

In [845]:
# games_2012 = games_2007_2012[games_2007_2012['Season'] == '2012']

In [846]:
# games_2013 = games_2013[games_2013['Season'] == '2013']

In [847]:
# games_2014 = games_2014[games_2014['Season'] == '2014']

In [848]:
# games_2015 = games_2015[games_2015['Season'] == '2015']

In [849]:
# games_2016 = games_2016_2017[games_2016_2017['Season'] == '2016']

In [850]:
# games_2017 = games_2016_2017[games_2016_2017['Season'] == '2017']

In [851]:
# games_2018 = games_2018[games_2018['Season'] == '2018']

In [852]:
# games_2019 = games_2019[games_2019['Season'] == '2019']

In [853]:
# games_2003.iloc[0]['State'] = 'OH'

In [854]:
# games_2003.iloc[0]['City'] = 'Dayton'

In [855]:
# games_2004.iloc[0]['State'] = 'OH'
# games_2004.iloc[0]['City'] = 'Dayton'

In [856]:
# games_2005.iloc[0]['State'] = 'OH'
# games_2005.iloc[0]['City'] = 'Dayton'
# games_2005.iloc[0]['T2_TeamName'] = 'Oakland'

In [857]:
# games_2006.iloc[0]['State'] = 'OH'
# games_2006.iloc[0]['City'] = 'Dayton'
# games_2006.iloc[0]['T2_TeamName'] = 'Monmouth'

In [858]:
# games_2007.iloc[0]['State'] = 'OH'
# games_2007.iloc[0]['City'] = 'Dayton'
# games_2007.iloc[0]['T2_TeamName'] = 'Niagara'

In [859]:
# games_2008.iloc[0]['State'] = 'OH'
# games_2008.iloc[0]['City'] = 'Dayton'
# games_2008.iloc[0]['T2_TeamName'] = "Mount St. Mary's"

In [860]:
# games_2009.iloc[0]['State'] = 'OH'
# games_2009.iloc[0]['City'] = 'Dayton'
# games_2009.iloc[0]['T2_TeamName'] = "Morehead State"

In [861]:
# games_2010.iloc[0]['State'] = 'OH'
# games_2010.iloc[0]['City'] = 'Dayton'
# games_2010.iloc[0]['T2_TeamName'] = "Arkansas-Pine Bluff"

In [862]:
# games_2011.iloc[0]['State'] = 'OH'
# games_2011.iloc[0]['City'] = 'Dayton'
# games_2011.iloc[0]['T2_TeamName'] = "Clemson"

In [863]:
# games_2011 = games_2011.append({'Season' : '2011', 'T1_TeamName' : 'UTSA', 'T2_TeamName' : "Alabama State", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [864]:
# games_2011 = games_2011.append({'Season' : '2011', 'T1_TeamName' : 'UNC Asheville', 'T2_TeamName' : "Little Rock", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [865]:
# games_2011 = games_2011.append({'Season' : '2011', 'T1_TeamName' : 'VCU', 'T2_TeamName' : "USC", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [866]:
# games_2012.iloc[0]['State'] = 'OH'
# games_2012.iloc[0]['City'] = 'Dayton'
# games_2012.iloc[0]['T2_TeamName'] = "South Florida"

In [867]:
# games_2012 = games_2012.append({'Season' : '2012', 'T1_TeamName' : 'Vermont', 'T2_TeamName' : "Lamar", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [868]:
# games_2012 = games_2012.append({'Season' : '2012', 'T1_TeamName' : 'Western Kentucky', 'T2_TeamName' : "Mississippi Valley State", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [869]:
# games_2012 = games_2012.append({'Season' : '2012', 'T1_TeamName' : 'Iona', 'T2_TeamName' : "BYU", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [870]:
# games_2013.iloc[0]['State'] = 'OH'
# games_2013.iloc[0]['City'] = 'Dayton'
# games_2013.iloc[0]['T2_TeamName'] = "James Madison"

In [871]:
# games_2013 = games_2013.append({'Season' : '2013', 'T1_TeamName' : 'North Carolina A&T', 'T2_TeamName' : "Liberty", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [872]:
# games_2013 = games_2013.append({'Season' : '2013', 'T1_TeamName' : "Saint Mary's", 'T2_TeamName' : "Middle Tennessee", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [873]:
# games_2013 = games_2013.append({'Season' : '2013', 'T1_TeamName' : "La Salle", 'T2_TeamName' : "Boise State", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [874]:
# games_2014.iloc[0]['State'] = 'OH'
# games_2014.iloc[0]['City'] = 'Dayton'
# games_2014.iloc[0]['T2_TeamName'] = "Tennessee"

In [875]:
# games_2014 = games_2014.append({'Season' : '2014', 'T1_TeamName' : 'Texas Southern', 'T2_TeamName' : "Cal Poly", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [876]:
# games_2014 = games_2014.append({'Season' : '2014', 'T1_TeamName' : 'Xavier', 'T2_TeamName' : "NC State", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [877]:
# games_2014 = games_2014.append({'Season' : '2014', 'T1_TeamName' : "Mount St. Mary's", 'T2_TeamName' : "Albany (NY)", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [878]:
# games_2015.iloc[0]['State'] = 'OH'
# games_2015.iloc[0]['City'] = 'Dayton'
# games_2015.iloc[0]['T2_TeamName'] = "Dayton"

In [879]:
# games_2015 = games_2015.append({'Season' : '2015', 'T1_TeamName' : "Manhattan", 'T2_TeamName' : "Hampton", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [880]:
# games_2015 = games_2015.append({'Season' : '2015', 'T1_TeamName' : "Ole Miss", 'T2_TeamName' : "BYU", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [881]:
# games_2015 = games_2015.append({'Season' : '2015', 'T1_TeamName' : "Robert Morris", 'T2_TeamName' : "North Florida", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [882]:
# games_2016.iloc[0]['State'] = 'OH'
# games_2016.iloc[0]['City'] = 'Dayton'
# games_2016.iloc[0]['T2_TeamName'] = "Florida Gulf Coast"

In [883]:
# games_2016 = games_2016.append({'Season' : '2016', 'T1_TeamName' : "Tulsa", 'T2_TeamName' : "Michigan", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)
# games_2016 = games_2016.append({'Season' : '2016', 'T1_TeamName' : "Wichita State", 'T2_TeamName' : "Vanderbilt", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)
# games_2016 = games_2016.append({'Season' : '2016', 'T1_TeamName' : "Southern", 'T2_TeamName' : "Holy Cross", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [884]:
# games_2017.iloc[0]['State'] = 'OH'
# games_2017.iloc[0]['City'] = 'Dayton'
# games_2017.iloc[0]['T2_TeamName'] = "Mount St. Mary's"

In [885]:
# games_2017 = games_2017.append({'Season' : '2017', 'T1_TeamName' : "USC", 'T2_TeamName' : "Providence", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)
# games_2017 = games_2017.append({'Season' : '2017', 'T1_TeamName' : "UC-Davis", 'T2_TeamName' : "North Carolina Central", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)
# games_2017 = games_2017.append({'Season' : '2017', 'T1_TeamName' : "Wake Forest", 'T2_TeamName' : "Kansas State", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [886]:
# games_2018.iloc[0]['State'] = 'OH'
# games_2018.iloc[0]['City'] = 'Dayton'
# games_2018.iloc[0]['T2_TeamName'] = "Radford"

In [887]:
# games_2018 = games_2018.append({'Season' : '2018', 'T1_TeamName' : "St. Bonaventure", 'T2_TeamName' : "UCLA", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)
# games_2018 = games_2018.append({'Season' : '2018', 'T1_TeamName' : "Syracuse", 'T2_TeamName' : "Arizona State", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)
# games_2018 = games_2018.append({'Season' : '2018', 'T1_TeamName' : "Texas Southern", 'T2_TeamName' : "North Carolina Central", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [888]:
# games_2019.iloc[0]['State'] = 'OH'
# games_2019.iloc[0]['City'] = 'Dayton'
# games_2019.iloc[0]['T2_TeamName'] = "North Dakota State"

In [889]:
# games_2019 = games_2019.append({'Season' : '2019', 'T1_TeamName' : "Temple", 'T2_TeamName' : "Belmont", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)
# games_2019 = games_2019.append({'Season' : '2019', 'T1_TeamName' : "Fairleigh Dickinson", 'T2_TeamName' : "Prairie View", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)
# games_2019 = games_2019.append({'Season' : '2019', 'T1_TeamName' : "St. John's (NY)", 'T2_TeamName' : "Arizona State", 
#                   'City' : 'Dayton', 'State' : 'OH'}, ignore_index=True)

In [890]:
# tourney_locations = pd.concat([games_2003, games_2004])

In [891]:
# tourney_locations = pd.concat([tourney_locations, games_2005, games_2006])

In [892]:
# tourney_locations = pd.concat([tourney_locations, games_2007, games_2008, games_2009, games_2010, games_2011, games_2012, games_2013, 
#           games_2014, games_2015, games_2016, games_2017, games_2018, games_2019])

In [893]:
# tourney_locations = tourney_locations.sort_values(by = 'Season')

In [894]:
# tourney_locations = tourney_locations.reset_index(drop = True)

In [895]:
# tourney_locations['T1_TeamName'] = tourney_locations['T1_TeamName'].str.lower()

In [896]:
# tourney_locations['T2_TeamName'] = tourney_locations['T2_TeamName'].str.lower()

In [897]:
# tourney_locations['City'] = tourney_locations['City'].replace('Atlan', 'Atlanta')

In [898]:
# tourney_locations['City'] = tourney_locations['City'].replace('Tamp', 'Tampa')

In [899]:
# tourney_locations['City'] = tourney_locations['City'].replace('Rosemon', 'Rosemont')

In [900]:
# tourney_locations['City'] = tourney_locations['City'].replace('Philadelphi', 'Philadelphia')

In [901]:
# tourney_locations['City'] = tourney_locations['City'].replace('Omah', 'Omaha')

In [902]:
# tourney_locations['City'] = tourney_locations['City'].replace('Detroi', 'Detroit')

In [903]:
# tourney_locations['City'] = tourney_locations['City'].replace('Tuls', 'Tulsa')

In [904]:
# tourney_locations['City'] = tourney_locations['City'].replace('Wichi', 'Wichita')

In [905]:
# tourney_locations['City'] = tourney_locations['City'].replace('Columbi', 'Columbia')

In [906]:
# tourney_locations['City'] = tourney_locations['City'].astype(str)

In [907]:
# tourney_locations['State'] = tourney_locations['State'].astype(str)

In [908]:
# tourney_locations.to_csv('data/tourney_locations.csv')

In [318]:
tourney_locations = pd.read_csv('data/tourney_locations.csv', index_col=0)

In [319]:
tourney_locations['State'] = tourney_locations['State'].apply(lambda x: x.strip())

In [320]:
CitiesEnriched = pd.read_csv('data/CitiesEnriched_Updated.csv', index_col=0)

In [321]:
tourney_locations = pd.merge(tourney_locations, CitiesEnriched, on = ['City', 'State'], how = 'left')

In [322]:
tourney_locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1115 entries, 0 to 1114
Data columns (total 11 columns):
Season             1115 non-null int64
T1_TeamName        1115 non-null object
T2_TeamName        1115 non-null object
City               1115 non-null object
State              1115 non-null object
CityID             1115 non-null int64
Lat                1115 non-null float64
Lng                1115 non-null float64
ElevationMeters    1115 non-null float64
TimezoneName       1115 non-null object
UTCOffsetHours     1115 non-null float64
dtypes: float64(4), int64(2), object(5)
memory usage: 104.5+ KB

In [323]:
tourney_locations.head()

,Season,T1_TeamName,T2_TeamName,City,State,CityID,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
0,2003,texas southern,unc asheville,Dayton,OH,4091,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0
1,2003,dayton,tulsa,Spokane,WA,4324,47.658780,-117.426046,571.099487,Pacific Daylight Time,-7.0
2,2003,missouri,southern illinois,Indianapolis,IN,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0
3,2003,marquette,holy cross,Indianapolis,IN,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0
4,2003,indiana,alabama,Boston,MA,4039,42.360082,-71.058880,10.447762,Eastern Daylight Time,-4.0

In [324]:
tourney_locations.columns = ['Season', 'T1_TeamName', 'T2_TeamName', 'Game_City', 'Game_State', 'Game_CityID', 
                            'Game_Lat', 'Game_Lng', 'Game_ElevationMeters', 'Game_TimezoneName', 'Game_UTCOffsetHours']

In [325]:
length = list(range(len(spellings)))
team_list = []

for l in length:
    split_name = spellings['TeamNameSpelling,TeamID'][l].split(',')
    t = split_name[0]
    t_id = split_name[1]
    team_x = {'TeamName' : t, 'TeamID' : t_id}
    team_list.append(team_x)

In [326]:
team_list = pd.DataFrame(team_list)

In [327]:
team_list_T1 = team_list.copy()
team_list_T2 = team_list.copy()
team_list_T1.columns = ['T1_TeamName', 'T1_TeamID']
team_list_T2.columns = ['T2_TeamName', 'T2_TeamID']

In [328]:
team_list_T1

             T1_TeamName T1_TeamID
0       a&m-corpus chris      1394
1     a&m-corpus christi      1394
2            abilene chr      1101
3      abilene christian      1101
4      abilene-christian      1101
...                  ...       ...
1136       youngstown st      1464
1137      youngstown st.      1464
1138    youngstown state      1464
1139       youngstown-st      1464
1140    youngstown-state      1464

[1141 rows x 2 columns]

In [329]:
tourney_locations = pd.merge(tourney_locations, team_list_T1, on = ['T1_TeamName'], how = 'left')
tourney_locations = pd.merge(tourney_locations, team_list_T2, on = ['T2_TeamName'], how = 'left')

In [330]:
tourney_locations.head()

,Season,T1_TeamName,T2_TeamName,Game_City,Game_State,Game_CityID,Game_Lat,Game_Lng,Game_ElevationMeters,Game_TimezoneName,Game_UTCOffsetHours,T1_TeamID,T2_TeamID
0,2003,texas southern,unc asheville,Dayton,OH,4091,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0,1411,1421
1,2003,dayton,tulsa,Spokane,WA,4324,47.658780,-117.426046,571.099487,Pacific Daylight Time,-7.0,1173,1409
2,2003,missouri,southern illinois,Indianapolis,IN,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,1281,1356
3,2003,marquette,holy cross,Indianapolis,IN,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,1266,1221
4,2003,indiana,alabama,Boston,MA,4039,42.360082,-71.058880,10.447762,Eastern Daylight Time,-4.0,1231,1104

In [331]:
tourney_locations[tourney_locations.isnull().any(axis=1)]

,Season,T1_TeamName,T2_TeamName,Game_City,Game_State,Game_CityID,Game_Lat,Game_Lng,Game_ElevationMeters,Game_TimezoneName,Game_UTCOffsetHours,T1_TeamID,T2_TeamID
554,2011,unc,liu,Charlotte,NC,4066,35.227087,-80.843127,232.514999,Eastern Daylight Time,-4.0,1314,NaN
632,2012,michigan state,liu,Columbus,OH,4080,39.961176,-82.998794,237.629166,Eastern Daylight Time,-4.0,1277,NaN
696,2013,liu,james madison,Dayton,OH,4091,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0,NaN,1241
1016,2018,liu,radford,Dayton,OH,4091,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0,NaN,1347

In [332]:
tourney_locations = tourney_locations.fillna(1254)

In [333]:
tourney_locations = tourney_locations[['Season', 'T1_TeamID', 'T2_TeamID', 'Game_CityID', 'Game_Lat', 'Game_Lng', 'Game_ElevationMeters', 
                   'Game_TimezoneName', 'Game_UTCOffsetHours']]

In [334]:
tourney_locations.columns = ['Season', 'T1_TeamID', 'T2_TeamID', 'Game_CityID', 'Game_Lat', 'Game_Lng', 
                            'Game_ElevationM', 'Game_TimeZone', 'Game_Offset']

In [335]:
tourney_locations.head()

,Season,T1_TeamID,T2_TeamID,Game_CityID,Game_Lat,Game_Lng,Game_ElevationM,Game_TimeZone,Game_Offset
0,2003,1411,1421,4091,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0
1,2003,1173,1409,4324,47.658780,-117.426046,571.099487,Pacific Daylight Time,-7.0
2,2003,1281,1356,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0
3,2003,1266,1221,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0
4,2003,1231,1104,4039,42.360082,-71.058880,10.447762,Eastern Daylight Time,-4.0

In [336]:
update

     team_id        lat         lng
0       1101  32.471081  -99.707941
1       1102  38.833882 -104.821363
2       1103  41.081445  -81.519005
3       1104  33.209841  -87.569174
4       1105  34.788979  -86.571937
..       ...        ...         ...
361     1462  39.149648  -84.473702
362     1463  41.308153  -72.928158
363     1464  41.099780  -80.649519
364     1465  33.928400 -117.425600
365     1466  34.807500  -87.681200

[366 rows x 3 columns]

In [337]:
tourney_locations['T1_TeamID'] = tourney_locations['T1_TeamID'].astype(int)

In [338]:
tourney_locations['T2_TeamID'] = tourney_locations['T2_TeamID'].astype(int)

In [339]:
T1_location = update.copy()
T2_location = update.copy()
T1_location.columns = ['T1_TeamID', 'T1_Lat', 'T1_Lng']
T2_location.columns = ['T2_TeamID', 'T2_Lat', 'T2_Lng']

In [340]:
tourney_locations = pd.merge(tourney_locations, T1_location, on = ['T1_TeamID'], how = 'left')
tourney_locations = pd.merge(tourney_locations, T2_location, on = ['T2_TeamID'], how = 'left')

In [341]:
tourney_locations.head()

,Season,T1_TeamID,T2_TeamID,Game_CityID,Game_Lat,Game_Lng,Game_ElevationM,Game_TimeZone,Game_Offset,T1_Lat,T1_Lng,T2_Lat,T2_Lng
0,2003,1411,1421,4091,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0,29.763284,-95.363272,35.600945,-82.554015
1,2003,1173,1409,4324,47.658780,-117.426046,571.099487,Pacific Daylight Time,-7.0,39.758948,-84.191607,36.153982,-95.992775
2,2003,1281,1356,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,38.951705,-92.334072,37.727273,-89.216750
3,2003,1266,1221,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,43.038739,-87.928280,42.262593,-71.802293
4,2003,1231,1104,4039,42.360082,-71.058880,10.447762,Eastern Daylight Time,-4.0,39.165325,-86.526386,33.209841,-87.569174

In [342]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic

In [343]:
team_total = list(range(len(tourney_locations)))

In [344]:
t1_list = []

for t in team_total:
    Lat1 = tourney_locations['Game_Lat'][t]
    Lng1 = tourney_locations['Game_Lng'][t]
    Lat2 = tourney_locations['T1_Lat'][t]
    Lng2 = tourney_locations['T1_Lng'][t]
    coord1 = (Lat1, Lng1)
    coord2 = (Lat2, Lng2)
    dist = geodesic(coord1, coord2).miles
    T1_Distance = {'T1_Dist' : dist}
    t1_list.append(T1_Distance)

In [345]:
t1_list = pd.DataFrame(t1_list)

In [346]:
tourney_locations['T1_Dist'] = t1_list

In [347]:
t2_list = []

for t in team_total:
    Lat2 = tourney_locations['Game_Lat'][t]
    Lng2 = tourney_locations['Game_Lng'][t]
    Lat2 = tourney_locations['T2_Lat'][t]
    Lng2 = tourney_locations['T2_Lng'][t]
    coord1 = (Lat1, Lng1)
    coord2 = (Lat2, Lng2)
    dist = geodesic(coord1, coord2).miles
    T2_Distance = {'T2_Dist' : dist}
    t2_list.append(T2_Distance)

In [348]:
t2_list = pd.DataFrame(t2_list)

In [349]:
tourney_locations['T2_Dist'] = t2_list

In [350]:
tourney_locations.head()

,Season,T1_TeamID,T2_TeamID,Game_CityID,Game_Lat,Game_Lng,Game_ElevationM,Game_TimeZone,Game_Offset,T1_Lat,T1_Lng,T2_Lat,T2_Lng,T1_Dist,T2_Dist
0,2003,1411,1421,4091,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0,29.763284,-95.363272,35.600945,-82.554015,935.811671,300.465553
1,2003,1173,1409,4324,47.658780,-117.426046,571.099487,Pacific Daylight Time,-7.0,39.758948,-84.191607,36.153982,-95.992775,1736.012307,690.062913
2,2003,1281,1356,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,38.951705,-92.334072,37.727273,-89.216750,335.437786,305.436922
3,2003,1266,1221,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,43.038739,-87.928280,42.262593,-71.802293,243.694572,669.557645
4,2003,1231,1104,4039,42.360082,-71.058880,10.447762,Eastern Daylight Time,-4.0,39.165325,-86.526386,33.209841,-87.569174,839.584483,489.065575

In [351]:
tourney_locations_2 = tourney_locations.copy()
tourney_locations_2.columns = ['Season', 'T2_TeamID', 'T1_TeamID', 'Game_CityID', 'Game_Lat', 'Game_Lng', 
                               'Game_ElevationM', 'Game_TimeZone', 'Game_Offset', 'T2_Lat', 'T2_Lng', 'T1_Lat', 
                               'T1_Lng', 'T2_Dist', 'T1_Dist']

In [352]:
tourney_locations_2 = tourney_locations_2[['Season', 'T1_TeamID', 'T2_TeamID', 'Game_CityID', 'Game_Lat', 'Game_Lng', 'Game_ElevationM', 
                    'Game_TimeZone', 'Game_Offset', 'T1_Lat', 'T1_Lng', 'T2_Lat', 'T2_Lng', 'T1_Dist', 'T2_Dist']]

In [353]:
tourney_locations = pd.concat([tourney_locations, tourney_locations_2])

In [354]:
tourney_locations = tourney_locations.reset_index(drop = True)

In [355]:
comp = pd.read_csv('Data/Stage2DataFiles/RegularSeasonCompactResults.csv')

In [356]:
comp = comp[comp['WLoc'] == 'H']

In [357]:
comp.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0
5    1985      25     1218      79     1337      78    H      0

In [358]:
game_cities.head()

   Season  DayNum  WTeamID  LTeamID   CRType  CityID
0    2010       7     1143     1293  Regular    4027
1    2010       7     1314     1198  Regular    4061
2    2010       7     1326     1108  Regular    4080
3    2010       7     1393     1107  Regular    4340
4    2010       9     1143     1178  Regular    4027

In [359]:
comp = pd.merge(comp, game_cities, on = ['Season', 'DayNum', 'WTeamID', 'LTeamID'], how = 'left')

In [364]:
comp = comp.dropna()

In [366]:
comp = comp.reset_index(drop = True)

In [367]:
comp.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,CRType,CityID
0,2010,7,1143,75,1293,70,H,0,Regular,4027.0
1,2010,7,1314,88,1198,72,H,0,Regular,4061.0
2,2010,7,1326,100,1108,60,H,0,Regular,4080.0
3,2010,7,1393,75,1107,43,H,0,Regular,4340.0
4,2010,9,1143,95,1178,61,H,0,Regular,4027.0

In [373]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31251 entries, 0 to 31250
Data columns (total 3 columns):
Season     31251 non-null int64
WTeamID    31251 non-null int64
CityID     31251 non-null float64
dtypes: float64(1), int64(2)
memory usage: 732.6 KB

In [370]:
comp = comp[['Season', 'WTeamID', 'CityID']]

In [375]:
comp = comp.drop_duplicates()

In [376]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3537 entries, 0 to 30479
Data columns (total 3 columns):
Season     3537 non-null int64
WTeamID    3537 non-null int64
CityID     3537 non-null float64
dtypes: float64(1), int64(2)
memory usage: 110.5 KB

In [379]:
comp = comp[['WTeamID', 'CityID']]

In [380]:
comp = comp.drop_duplicates()

In [381]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 0 to 29589
Data columns (total 2 columns):
WTeamID    374 non-null int64
CityID     374 non-null float64
dtypes: float64(1), int64(1)
memory usage: 8.8 KB

In [382]:
comp['WTeamID'].value_counts()

1310    2
1437    2
1385    2
1210    2
1383    2
       ..
1345    1
1346    1
1347    1
1348    1
1101    1
Name: WTeamID, Length: 355, dtype: int64

In [385]:
comp.columns = ['TeamID', 'CityID']

In [389]:
comp['CityID'] = comp['CityID'].astype(int)

In [391]:
comp = pd.merge(comp, CitiesEnriched, on = ['CityID'], how = 'left')

In [395]:
comp[comp['TeamID'] == 1310]

,TeamID,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
136,1310,4242,Niagara Falls,NY,43.096214,-79.037739,176.679825,Eastern Daylight Time,-4.0
359,1310,4192,Lewiston,NY,43.191949,-78.985381,105.734436,Eastern Daylight Time,-4.0

In [399]:
comp = pd.merge(comp, teams, on = ['TeamID'], how = 'left')

In [402]:
comp = comp[['TeamID', 'TeamName', 'CityID', 'City', 'State', 'Lat', 'Lng', 'ElevationMeters', 'TimezoneName', 'UTCOffsetHours']]

In [483]:
comp[comp['TeamID'] == 1321]

,TeamID,TeamName,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
43,1321,Northwestern,4113,Evanston,IL,42.045072,-87.687697,184.222977,Central Daylight Time,-5.0

In [484]:
comp['TeamID'].value_counts()

1466    1
1194    1
1219    1
1220    1
1221    1
       ..
1348    1
1349    1
1350    1
1351    1
1101    1
Name: TeamID, Length: 355, dtype: int64

In [410]:
comp = comp.drop([136])

In [414]:
comp = comp.drop([130])

In [418]:
comp = comp.drop([366])

In [422]:
comp = comp.drop([343])

In [426]:
comp = comp.drop([367])

In [430]:
comp = comp.drop([358])

In [434]:
comp = comp.drop([96])

In [438]:
comp = comp.drop([368])

In [442]:
comp = comp.drop([290])

In [446]:
comp = comp.drop([337])

In [450]:
comp = comp.drop([355])

In [454]:
comp = comp.drop([370])

In [458]:
comp = comp.drop([248])

In [462]:
comp = comp.drop([371])

In [466]:
comp = comp.drop([332])

In [470]:
comp = comp.drop([365])

In [474]:
comp = comp.drop([357])

In [478]:
comp = comp.drop([353])

In [482]:
comp = comp.drop([369])

In [486]:
comp = comp.reset_index(drop = True)

In [488]:
comp.head()

,TeamID,TeamName,CityID,City,State,Lat,Lng,ElevationMeters,TimezoneName,UTCOffsetHours
0,1143,California,4027,Berkeley,CA,37.871593,-122.272747,51.614422,Pacific Daylight Time,-7.0
1,1314,North Carolina,4061,Chapel Hill,NC,35.913200,-79.055844,148.552246,Eastern Daylight Time,-4.0
2,1326,Ohio St,4080,Columbus,OH,39.961176,-82.998794,237.629166,Eastern Daylight Time,-4.0
3,1393,Syracuse,4340,Syracuse,NY,43.048122,-76.147424,121.362137,Eastern Daylight Time,-4.0
4,1301,NC State,4287,Raleigh,NC,35.779590,-78.638179,105.629005,Eastern Daylight Time,-4.0

In [492]:
T1_comp = comp.copy()
T2_comp = comp.copy()
T1_comp.columns = ['T1_TeamID', 'T1_TeamName', 'CityID', 'City', 'State', 'Lat', 'Lng', 'T1_Elevation', 'TimeZone', 'UTCOffset']
T2_comp.columns = ['T2_TeamID', 'T2_TeamName', 'CityID', 'City', 'State', 'Lat', 'Lng', 'T2_Elevation', 'TimeZone', 'UTCOffset']

In [493]:
T1_comp = T1_comp[['T1_TeamID', 'T1_Elevation']]
T2_comp = T2_comp[['T2_TeamID', 'T2_Elevation']]

In [494]:
tourney_locations = pd.merge(tourney_locations, T1_comp, on = ['T1_TeamID'], how = 'left')
tourney_locations = pd.merge(tourney_locations, T2_comp, on = ['T2_TeamID'], how = 'left')

In [495]:
tourney_locations.head()

,Season,T1_TeamID,T2_TeamID,Game_CityID,Game_Lat,Game_Lng,Game_ElevationM,Game_TimeZone,Game_Offset,T1_Lat,T1_Lng,T2_Lat,T2_Lng,T1_Dist,T2_Dist,T1_Elevation,T2_Elevation
0,2003,1411,1421,4091,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0,29.763284,-95.363272,35.600945,-82.554015,935.811671,300.465553,14.566981,676.435181
1,2003,1173,1409,4324,47.658780,-117.426046,571.099487,Pacific Daylight Time,-7.0,39.758948,-84.191607,36.153982,-95.992775,1736.012307,690.062913,225.558853,218.913315
2,2003,1281,1356,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,38.951705,-92.334072,37.727273,-89.216750,335.437786,305.436922,93.805664,126.338158
3,2003,1266,1221,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,43.038739,-87.928280,42.262593,-71.802293,243.694572,669.557645,187.231857,147.031601
4,2003,1231,1104,4039,42.360082,-71.058880,10.447762,Eastern Daylight Time,-4.0,39.165325,-86.526386,33.209841,-87.569174,839.584483,489.065575,233.728775,69.089012

In [496]:
tourney_locations['T1_elev_diff'] = tourney_locations['Game_ElevationM'] - tourney_locations['T1_Elevation']
tourney_locations['T2_elev_diff'] = tourney_locations['Game_ElevationM'] - tourney_locations['T2_Elevation']

In [497]:
tourney_locations.head()

,Season,T1_TeamID,T2_TeamID,Game_CityID,Game_Lat,Game_Lng,Game_ElevationM,Game_TimeZone,Game_Offset,T1_Lat,T1_Lng,T2_Lat,T2_Lng,T1_Dist,T2_Dist,T1_Elevation,T2_Elevation,T1_elev_diff,T2_elev_diff
0,2003,1411,1421,4091,39.758948,-84.191607,225.558853,Eastern Daylight Time,-4.0,29.763284,-95.363272,35.600945,-82.554015,935.811671,300.465553,14.566981,676.435181,210.991872,-450.876328
1,2003,1173,1409,4324,47.658780,-117.426046,571.099487,Pacific Daylight Time,-7.0,39.758948,-84.191607,36.153982,-95.992775,1736.012307,690.062913,225.558853,218.913315,345.540634,352.186172
2,2003,1281,1356,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,38.951705,-92.334072,37.727273,-89.216750,335.437786,305.436922,93.805664,126.338158,128.994064,96.461571
3,2003,1266,1221,4161,39.768403,-86.158068,222.799728,Eastern Daylight Time,-4.0,43.038739,-87.928280,42.262593,-71.802293,243.694572,669.557645,187.231857,147.031601,35.567871,75.768127
4,2003,1231,1104,4039,42.360082,-71.058880,10.447762,Eastern Daylight Time,-4.0,39.165325,-86.526386,33.209841,-87.569174,839.584483,489.065575,233.728775,69.089012,-223.281013,-58.641250

In [499]:
tourney_locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2230 entries, 0 to 2229
Data columns (total 19 columns):
Season             2230 non-null int64
T1_TeamID          2230 non-null int64
T2_TeamID          2230 non-null int64
Game_CityID        2230 non-null int64
Game_Lat           2230 non-null float64
Game_Lng           2230 non-null float64
Game_ElevationM    2230 non-null float64
Game_TimeZone      2230 non-null object
Game_Offset        2230 non-null float64
T1_Lat             2230 non-null float64
T1_Lng             2230 non-null float64
T2_Lat             2230 non-null float64
T2_Lng             2230 non-null float64
T1_Dist            2230 non-null float64
T2_Dist            2230 non-null float64
T1_Elevation       2230 non-null float64
T2_Elevation       2230 non-null float64
T1_elev_diff       2230 non-null float64
T2_elev_diff       2230 non-null float64
dtypes: float64(14), int64(4), object(1)
memory usage: 348.4+ KB

In [501]:
tourney_locations.to_csv('Data/tourney_locations_updated.csv')